@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;800&family=Molle:wght@400&family=Rosario:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

* {
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: "Molle";
  src: url(./fonts/Molle-Italic.ttf);
  font-weight: 400;
}

:root {
  --swiper-navigation-size: 20px;
  --yellow: #f4ff52ff;
  --orange: #ff7f11ff;
  --black: #06070eff;
  --white: rgb(255, 255, 255);
  --cyan: #5bc3ebff;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--white);
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--orange);
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  align-items: center;
  scroll-behavior: smooth;
  height: 100vh;
}

.main {
  scroll-behavior: smooth;
}

.loader {
  animation: loaderbg 3s ease-in-out forwards;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
}

.loader-content h2 {
  color: #fff;
  font-size: 15em;
  font-family: Nerko One, cursive;
  position: absolute;
  transform: translate(-50%, -50%);
}

.loader-content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--cyan);
  animation: stroke 2s ease-in-out infinite;
}

.loader-content h2:nth-child(2) {
  color: var(--cyan);
  animation: loading-animate 2s ease-in-out infinite;
}

@media only screen and (max-width: 767px) {
  .loader-content h2 {
    font-size: 4em;
    -webkit-text-stroke-width: 2px !important;
  }
}

@keyframes stroke {
  0%,
  100% {
    -webkit-text-stroke-color: var(--cyan);
  }

  50% {
    -webkit-text-stroke-color: var(--orange);
  }
}

@keyframes loading-animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
    color: var(--cyan);
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
    color: var(--orange);
  }
}
@keyframes loaderbg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes nav-appear {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.nav {
  animation: nav-appear 1s ease-in;
  position: fixed;
  z-index: 1000;
  width: clamp(300px, 85%, 1600px);
  height: auto;
  padding: 20px 40px;
  margin: 20px 40px 20px 100px;
  background: rgba(0, 0, 0, 0.318);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.272);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
  display: flex;
  top: 0%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & li {
    width: 60%;
    text-align: center;

    & a {
      font-family: Rosario;
      font-size: 20px;
      text-decoration: none;
      color: var(--white);
    }
  }
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  cursor: pointer;
  justify-content: space-between;
  white-space: nowrap;
  width: fit-content;
}

.nav-links.active {
  height: 400px;
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 50px;
  position: absolute;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  right: 0%;
  top: 0%;
  width: 200px;
  z-index: 99;
  padding: 200px 5px 210px 5px;
  align-items: center;
  justify-content: flex-end;

  & li {
    text-shadow: none;
    padding: 10px;
  }

  & li:hover {
    color: var(--black);
    background-color: var(--white);
  }
}

.logo {
  font-family: Nerko One, cursive;
  font-size: 32px;

  & a {
    text-decoration: none;
    color: var(--white);
  }
}

.small-nav {
  display: none;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--white);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.home {
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 150px;
  width: 100vw;
  height: 100vh;
  padding: 50px 120px;
  background: linear-gradient(180deg, transparent 20%, #5bc3eb 100%),
    url("./images/mainbg.jpg") no-repeat center center/cover;
}

.hero-total {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  color: var(--white);
  font-family: Alegreya Sans;
  justify-content: space-between;
}

@keyframes hero-appear {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  width: 40%;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.428));
}

.hero-text.doAnimation {
  animation: hero-appear 1s ease-in;
}

.hero-header {
  font-size: 80px;
  font-weight: 800;
  text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.18);
}

.hero-bottom {
  width: 100%;
  font-size: 20px;
  text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.428);
}

.explore-group-plans {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: var(--orange);
  color: #fff;
  border: var(--white) 2px solid;
  padding: 10px 5px 10px 20px;
  width: 200px;
  border-radius: 12px;
  transition: all 0.6s ease;

  &:hover {
    background-color: var(--cyan);
    color: var(--white);
    cursor: pointer;
  }

  & svg {
    width: 20px;
    transition: all 0.6s ease;
    color: var(--white);
  }

  &:hover svg {
    transform: translateX(5px);
    color: var(--white);
  }

  &::active {
    background-color: var(--white);
    color: var(--black);
  }
}

.plans-text {
  color: var(--white);
}

.swiper-container {
  margin-top: 20%;
  width: 300px;
}

.swiper-wrapper {
  left: 200%;
  margin-top: 60px;
  height: 400px;
}

.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.swiper-pagination-bullets {
  position: relative;
  bottom: -50px !important;
  left: 280px !important;
}

.swiper-pagination-bullet {
  background-color: var(--white);
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background-color: var(--white);
  opacity: 1;
}

.whatsapp-link {
  position: absolute;
  left: 30px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: whitesmoke;
  font-size: 36px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.whatsapp-link:hover {
  background-color: #12a50b;
  animation: bounce_613 1s linear;
}
@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.social-media {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.social-media a {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}

@keyframes right-content {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.right-content {
  width: 800px;
}

.right-content.doAnimation {
  animation: right-content 2s ease-in;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  body::-webkit-scrollbar {
    width: 0px;
  }
  .nav {
    padding: 10px 20px;
    margin: 0px;
    background: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
  }

  .social-media {
    bottom: 10px;
  }

  .nav-links {
    display: none;
  }

  .small-nav {
    display: block;
    z-index: 100;

    & input:checked ~ span {
      background: var(--white);
    }
  }

  .swiper-wrapper {
    margin-left: 60px;
  }

  .hero-total {
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-family: Alegreya Sans;
    gap: 10px;
    padding: 0px 0px 0px 30px;
    align-items: flex-start;
    justify-content: center;
  }

  .hero-header {
    font-size: 40px;
  }

  .home {
    gap: 40px;
    padding: 0px;
  }

  .hero-text {
    gap: 10px;
    width: 90%;
  }

  .hero-top {
    font-size: 16px;
  }

  .hero-bottom {
    font-size: 18px;
    min-width: 320px;
  }

  .explore-group-plans {
    font-size: 20px;

    &::active {
      background-color: var(--white);
      color: var(--black);
    }
  }

  .swiping {
    padding: 0%;
  }

  .swiper-wrapper {
    height: 250px;
    margin-left: 60px;
  }

  .swiper-container {
    width: 200px;
    margin: 0%;
  }

  .swiper-nav-container {
    display: none;
  }

  .swiper-pagination-bullets {
    position: relative;
    bottom: -50px !important;
    left: 5px !important;
  }
}

@media (max-width: 1450px) and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    display: none;
  }

  .small-nav {
    display: block;
    z-index: 100;

    & input:checked ~ span {
      background: #ffffff;
    }
  }

  .home {
    gap: 40px;
    padding: 0px;
  }

  .hero-total {
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .right-content {
    width: 600px;
  }

  .hero-header {
    font-size: 52px;
    text-align: center;
  }

  .hero-text {
    align-items: center;
    gap: 5px;
  }

  .swiper-pagination-bullets {
    position: relative;
    bottom: -50px !important;
    left: 200px !important;
  }

  .hero-bottom {
    text-align: center;
    width: 400px;
    font-size: 16px;
  }

  .hero-header {
    font-size: 48px;
  }

  .hero-top {
    font-size: 16px;
    text-align: center;
  }

  .explore-group-plans {
    align-items: center;
  }

  .nav {
    padding: 20px 50px;
    margin: 0px 50px;
    background: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
  }

  .swiper-wrapper {
    height: 300px;
    margin-left: 20px;
  }

  .swiper-container {
    width: 210px;
    margin: 0%;
  }

  .swiper-nav-container {
    display: none;
  }
}
