@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;800&family=Molle&family=Rosario:ital,wght@0,500;1,500&display=swap');


@font-face {
    font-family: 'Molle';
    src: url(./fonts/Molle-Italic.ttf);
    font-weight: 400;
}
:root {
    --swiper-navigation-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100 vw;
}
nav{
    color: white;
    & li{
        font-family: Rosario;
        font-size: 20px;
        text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.428);
        &:hover{
            text-shadow: 2px 10px 2px rgba(0, 0, 0, 0.428);
            transition: all 0.5s;
        }
    }
    
}
.logo{
        font-family: Molle;
        font-size: 32px;
        text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.428);
        &:hover{
            text-shadow: 2px 10px 2px rgba(0, 0, 0, 0.428);
            transition: all 0.5s;
        }
    }
.home{
    display: flex;
    flex-direction: column;
    gap: 200px;
    background-image: url("./images/mainbg.jpg");
    background-position: left;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    
}

.hero-total{
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: white;
    font-family: Alegreya Sans;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
.hero-header{
    font-size: 50px;
    font-weight: 800;
    text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.428);
}
.explore-group-plans{
    border: 1px solid white;
    width: max-content;
    padding: 8px 15px;
    border-radius: 10px;
    
    &:hover{
        background-color: white;
        color: black;
        cursor: pointer;
        transition: all 1s;
        
    }
}
.swiping{
    display: flex;
    flex-direction: column;
    gap: 40px;  
    margin-top: 50px;
}
.swiper{
    display: block;
    width: 1000px;
}
.swiper-slide{
    height: 400px;
    width: 280px !important; 
    background-color: #714b4b;
    border-radius: 16px;
}

.swiper-slide:nth-child(1){
    background-image: url("./images/slider-img1.jpg");
    background-size: cover;
    background-position: center;
}
.swiper-slide:nth-child(2){
    background-image: url("./images/slider-img2.jpg");
    background-size: cover;
    background-position: center;
}
.swiper-slide:nth-child(3){
    background-image: url("./images/slider-img3.jpg");
    background-size: cover;
    background-position: center;
}
.swiper-slide:nth-child(4){
    background-image: url("./images/slider-img4.jpg");
    background-size: cover;
    background-position: center;
}
.swiper-slide:nth-child(5){
    background-image: url("./images/slider-img5.jpg");
    background-size: cover;
    background-position: center;
}
.swiper-slide:nth-child(6){
    background-image: url("./images/slider-img6.jpg");
    background-size: cover;
    background-position: center;
}

.swiper-button-prev{
    position: relative;
    width: 32px;
    border-radius: 50%;
    border: 2px solid white;
    height: 32px;
    z-index: 10;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 15px !important;
    &::after{
        margin-top: 2px;
    }
}
.swiper-button-next{
    position: relative;
    width: 32px;
    border-radius: 50%;
    border: 2px solid white;
    height: 32px;
    z-index: 10;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 15px !important;
    &::after{
        margin-top: 2px;
    }
}

.swiper-nav-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}
.swiper-nav-container svg{
    margin-top: 15px;
    border-radius: 20px ;
}