.packages {
  scroll-behavior: smooth;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 160px 0 0 0;
  background:linear-gradient(180deg, transparent 70%, rgb(255, 255, 255) 100%), var(--cyan);
}

.upcoming-trips {
  width: 100%;
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.upcoming-top {
  font-size: 24px;
  font-weight: normal;
}

.upcoming-header {
  font-size: 48px;
  font-family: "Molle", cursive;
}

.upcoming-top.doAnimation{
    animation: upcoming-trips 1.5s ease-in;
}
.upcoming-header.doAnimation {
  animation: upcoming-trips 1s ease-in; 
}
@keyframes upcoming-trips {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
.trips-grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 100px 200px;
}

.trip-card {
  background-color: rgba(255, 255, 255, 0.8);
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.trip-card:nth-child(1).doAnimation{
  animation: trip-card 1s ease-in;
}
.trip-card:nth-child(2).doAnimation{
  animation: trip-card 1.5s ease-in;
}
.trip-card:nth-child(3).doAnimation{
  animation: trip-card 2s ease-in;
}
.trip-card:nth-child(4).doAnimation{
  animation: trip-card 2.5s ease-in;
}
@keyframes trip-card {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (max-width: 600px) {
  .packages {
    padding: 100px 0 0 0;
  }
  .upcoming-trips {
    padding: 50px;
  }

  .trips-grid {
    padding: 0 50px;
  }
  .upcoming-trips h1 {
    font-size: 32px;
  }
  .upcoming-trips h2 {
    font-size: 18px;
  }
  .trip-card {
    width: 250px;
    height: 300px;
  }
}
